<%layout("layouts/boilerplate")-%>

<section class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-md-6 offset-md-1">
      <h1 class="text-center"><%=user.firstName%>'s Locations</h1>
      <div class="mb-3" id="map" style="width: 600px; height: 500px"></div>
    </div>
  </div>
</section>
<script>
  const map_token = '<%-process.env.MAPBOX_TOKEN%>';
  const data = {features: <%-JSON.stringify(photos)%>}
</script>

<script src="/js/mylocations_map.js"></script>
